<template>
  <i click.delegate="remove()" show.bind="stars>0" class="minus circle yellow icon popup" data-content="Quitar estrellas" data-variation="mini"></i>
  <div data-rating="${stars}"></div>
</template>
