<template>
  <style>
    /*img{width:150px}*/
  </style>
  <!-- <div show.bind="selected"></div> -->
  <table class="ui selectable striped table">
    <tbody>
      <tr repeat.for="articulo of articulos" click.trigger="selectArticulo($event, articulo)">
        <td click.delegate="focus($event, articulo)">
          <h4 class="ui big header">
            <img src.bind="articulo.imagenPath" class="ui big rounded image ">
            <div show.bind="articulo !== articuloSelected" class="content">
              ${articulo.nombre}
              <div class="sub header">
                ${articulo.precio_venta}
              </div>
              <div class="sub header">
                ${articulo.imagen}
              </div>
              <div class="sub header">
                ${getCategoriaNombrePorId(articulo.categoria_id)}
              </div>
            </div>
            <div class="ui inverted segment" show.bind="articulo === articuloSelected">
              <div class="ui inverted form" click.delegate="focus(e, articulo)">
                <div class="ui grid fields">
                  <div class="field six wide column">
                    <label>Nombre</label>
                    <input value.bind="articulo.nombre" type="text" placeholder="Nombre">
                  </div>
                  <div class="field two wide column">
                    <label>Precio</label>
                    <input value.bind="articulo.precio_venta" type="text" placeholder="Precio">
                  </div>
                  <div class="field four wide column">
                    <label>Categoría</label>
                    <div class="ui selection dropdown">
                      <input value.bind="articulo.categoria_id" type="hidden" name="gender">
                      <i class="dropdown icon"></i>
                      <div class="default text">Categoría</div>
                      <div class="menu">
                        <div repeat.for="categoria of categorias" class="item" data-value="${categoria.id}" data-text="${categoria.nombre}">
                          <img src.bind="urlImages + categoria.imagen" class="ui mini rounded image ">
                          ${categoria.nombre}
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="field four wide column">
                    <label>Imagen</label>
                    <div class="ui selection dropdown">
                      <input change.delegate="imagenChange($event, imagen, articulo)" value.bind="articulo.imagen" type="hidden" name="gender">
                      <i class="dropdown icon"></i>
                      <div class="default text">Imagen</div>
                      <div class="menu">
                        <div repeat.for="imagen of imagenes" class="item" data-value="${imagen.nombre}" data-text="${imagen.nombre}">
                          <img src.bind="urlImages + imagen.nombre" class="ui mini rounded image ">
                          ${imagen.nombre}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button click.trigger="return grabaEdicionArticulo($event, articulo)" class="ui primary button">
                Graba
              </button>
              <button click.trigger="return cancelaEdicionArticulo($event, articulo)" class="ui button">
                Cancela
              </button>
            </div>
          </h4>
        </td>
      </tr>
    </tbody>
  </table>

</template>
