<template>
  <style>
    /*img{width:150px}*/
  </style>
  <!-- <div show.bind="selected"></div> -->
  <table class="ui selectable striped table">
    <tbody>
      <tr repeat.for="categoria of categorias"  click.trigger="selectCategoria($event, categoria)">
        <td click.delegate="focus($event, categoria)">
          <h4 class="ui big image header">
            <img src.bind="categoria.imagenPath" class="ui big rounded image ">
            <div show.bind="categoria !== categoriaSelected" class="content">
              ${categoria.nombre}
              <div class="sub header">
                ${categoria.imagen}
              </div>
            </div>
            <div class="ui inverted segment" show.bind="categoria === categoriaSelected">
              <div click.delegate="focus(e, categoria)" class="ui inverted form">
                <div class="three fields">
                  <div class="field">
                    <label>Nombre</label>
                    <input value.bind="categoria.nombre" type="text" placeholder="Nombre">
                  </div>
                  <div class="field">
                    <label>Imagen</label>
                    <div class="ui selection dropdown">
                      <input change.delegate="imagenChange($event, imagen, categoria)" value.bind="categoria.imagen" type="hidden" name="gender">
                      <i class="dropdown icon"></i>
                      <div class="default text">Imagen</div>
                      <div class="menu">
                        <div repeat.for="imagen of imagenes" class="item" data-value="${imagen.nombre}" data-text="${imagen.nombre}">
                          <img src.bind="urlImages + imagen.nombre" class="ui mini rounded image ">
                          ${imagen.nombre}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button click.trigger="return grabaEdicionCategoria($event, categoria)" class="ui primary button">
                Graba
              </button>
              <button click.trigger="return cancelaEdicionCategoria($event, categoria)" class="ui button">
                Cancela
              </button>
            </div>
          </h4>
        </td>
      </tr>
    </tbody>
  </table>

</template>
