<template>
  <!-- <require from="../semantic/dist/components/accordion.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/ad.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/breadcrumb.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/comment.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/embed.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/feed.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/flag.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/modal.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/nag.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/progress.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/rail.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/reset.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/reveal.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/shape.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/sidebar.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/statistic.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/step.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/sticky.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/tab.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/dimmer.min.css"></require> -->
  <!-- <require from="../semantic/dist/components/site.min.css"></require> -->

  <require from="../semantic/dist/components/checkbox.min.css"></require>
  <require from="../semantic/dist/components/list.min.css"></require>
  <require from="../semantic/dist/components/divider.min.css"></require>
  <require from="../semantic/dist/components/message.min.css"></require>
  <require from="../semantic/dist/components/menu.min.css"></require>
  <require from="../semantic/dist/components/dropdown.min.css"></require>
  <require from="../semantic/dist/components/image.min.css"></require>
  <require from="../semantic/dist/components/input.min.css"></require>
  <require from="../semantic/dist/components/container.min.css"></require>
  <require from="../semantic/dist/components/header.min.css"></require>
  <require from="../semantic/dist/components/item.min.css"></require>
  <require from="../semantic/dist/components/label.min.css"></require>
  <require from="../semantic/dist/components/form.min.css"></require>
  <require from="../semantic/dist/components/button.min.css"></require>
  <require from="../semantic/dist/components/transition.min.css"></require>
  <require from="../semantic/dist/components/popup.min.css"></require>
  <require from="../semantic/dist/components/reset.min.css"></require>
  <require from="../semantic/dist/components/grid.min.css"></require>
  <require from="../semantic/dist/components/card.min.css"></require>
  <require from="../semantic/dist/components/rating.min.css"></require>
  <require from="../semantic/dist/components/icon.min.css"></require>
  <require from="../semantic/dist/components/segment.min.css"></require>
  <require from="../semantic/dist/components/loader.min.css"></require>
  <require from="../semantic/dist/components/input.min.css"></require>
  <require from="../semantic/dist/components/menu.min.css"></require>
  <require from="../semantic/dist/components/site.min.css"></require>
  <require from="../semantic/dist/components/table.min.css"></require>
  <require from="../semantic/dist/components/search.min.css"></require>

  <!-- <require from="../semantic/dist/semantic.min.css"></require> -->

  <require from='../node_modules/alertify.js/dist/css/alertify.css'></require>

  <require from='../node_modules/kalendae/build/kalendae.css'></require>
  <!-- <require from='../node_modules/alertifyjs/build/css/themes/semantic.min.css'></require> -->

  <require from="./nav-bar.html"></require>

  <nav-bar auth.bind="auth" carro-service.bind="carroService" router.bind="router"></nav-bar>

  <div class="ui segment main text" style="margin-top: 3.5em;">
    <router-view></router-view>
  </div>
</template>
