<template>
  <!-- <request from="./components/rating"></request> -->
  <require from='../components/rating'></require>
  <div id='articulos' class="ui cards">
    <div class="card" repeat.for="articulo of articulos">
      <a href="">
        <div class="content" click.delegate="addArticuloToCarrito(articulo)">
          <a class="header">${articulo.nombre}</a>
        </div>
        <a class="image" click.delegate="addArticuloToCarrito(articulo)">
          <img class="b-lazy" data-src="${articulo.imagenPath}" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="${articulo.imagenPath}">
        </a>
      </a>
      <div class="extra content">
        <div class="ui aligned grid">
          <div class="left floated left aligned eight wide column">
            <i class="dollar icon"></i>
            ${articulo.precio_venta}
          </div>
          <div class="right floated right aligned eight wide column">
            <rating obj.bind="articulo" stars.bind="articulo.rating" change.bind="ratingChange"></rating>
          </div>
        </div>
      </div>
    </div>
  </div>
