<template >
    <style>
        .precio {
            padding-right: 0 !important;
        }
    </style>
    <table class="ui fixed  structured table">
        <thead>
            <tr>
                <th colspan="2">Carrito <span show.bind="!articulos.length"> Vacio</span></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="articulo of articulos">
                <td class="eleven wide small text">
                    ${articulo.nombreConSub}
                </td>
                <td class="five wide right aligned small text precio">
                    $${articulo.precioConSub}
                    <a href="" click.delegate="remove(articulo)">
                        <i class="icon red big circle remove"></i>
                    </a>
                </td>
            </tr>
            <tr show.bind="articulos.length">
                <td class="small text total">
                    Total
                </td>
                <td class="right aligned small text">
                    $${carroService.total}
                </td>
            </tr>
        </tbody>
    </table>
    <div show.bind="articulos.length" class="ui right floated basic button" click.delegate="carroService.cierra()">
        <!-- <i class="icon in cart"></i> -->
        <i class="icon print"></i>
        Imprime y cierra la app
    </div>
    <div show.bind="!articulos.length" class="ui right floated basic large button" click.delegate="carroService.cierra()">
        <i class="icon large sign out"></i>
        Salir
    </div>
    <!-- <div id="carro" class="wraper">
        <div class="row card-panel z-depth-1" style="background-color: #26a69a; color:white">
            <span class="col s12; background-color: #039be5!important; color:white">
                Carrito
            </span>
        </div>
        <div class="carro card-panel grey lighten-5 z-depth-1" repeat.for="articulo of articulos">
            <div class="remove row valign-wrapper">
            <span class="right cursor-pointer col s2" click.delegate="remove(articulo)">
                    <i class="right fa fa-close"></i>
            </span>
            </div>
            <div class="row valign-wrapper">
                <div class="col s5">
                    <img src="${articulo.imagenPath}" alt="" class="circle responsive-img"/>
                </div>
            <span class="black-text col s7 right" style="text-align: right">
                ${articulo.nombreConSub}
            </span>
            </div>
            <div class="row valign-wrapper">
                <span class="col s8"></span>
        <span class="right cursor-pointer col s4" click.delegate="remove(articulo)" style="text-align: right">
        ${articulo.precioConSub}

        </span>
            </div>
        </div>
        <div if.bind="carroService.visible" class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12">
                    <span>Total:</span>
              <span class="black-text right">
                ${carroService.total}
              </span>
                </div>
            </div>
            <div class="row">
                <a click.delegate="carroService.cierra()" class="col-xs-12 btn btn-lg btn-danger">Cierra e Imprime</a>
            </div>
        </div>
    </div> -->
</template>
