<template>
    <require from="./carro"></require>
    <div class="ui stackable grid">
        <div class="eleven wide tablet twelve wide computer thirteen wide large screen fourteen wide widescreen column">
            <div class="ui cards">
                <div class="ui card" repeat.for="categoria of categorias" click.delegate="menuGo(categoria.id)">
                    <div class="image">
                      <!-- <a route-href="route: menu;params.bind: {id:categoria.id}"> -->
                        <img src="${categoria.imagenPath}">
                      <!-- </a> -->
                    </div>
                    <div class="content">
                        <span class="header">${categoria.nombre}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide tablet four wide computer three wide large screen two wide widescreen floated right column">
            <carro articulos.bind="carroService.articulos"></carro>
        </div>
    </div>
</template>
