<template>
    <!-- <div class="container">
        <h2>Ingreso</h2>
        <form submit.delegate="submit()">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" placeholder="Usuario" value.bind="username">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Contraseña" value.bind="password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div> -->
<!-- <div class="ui form segment">
  <div class="field">
    <label>Usuario</label>
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Usuario" value.bind="username">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contraseña</label>
    <div class="ui left labeled icon input">
      <input type="password"  value.bind="password" placeholder="Contraseña">
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="ui blue submit button" click.delegate="submit()">Login</div>
</div> -->
<form class="ui large form" submit.delegate="submit()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="Usuario" placeholder="Usuario" value.bind="username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="Contraseña" value.bind="password" placeholder="Contraseña">
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button" value="Ingresar"/>
      </div>

      <div class="ui error message"></div>

    </form>
  </template>
