<template>
  <div class="ui icon huge message">
  <i class="user loading circular huge icon"></i>
  <div class="content">
    <div class="header">
      Login
    </div>
    <p>Use el lector de huellas para ingresar</p>
  </div>
</div>
</template>
