<template bindable="router, auth, carroService">
    <div class="ui pointing fixed menu">
      <a href="#/" class="'active' item">
          Buffet IAE
      </a>
      <a show.bind="!route.config.auth || !(!auth.loggedIn || (route.config.admin && !auth.user.isAdmin))"
         href="${route.href}" class="${route.isActive?'active':''} item" repeat.for="route of router.navigation">
            ${route.title}
        </a>
        <a show.bind="carroService.articulos.length > 0" href="#/solo-carrito" class="${router.currentInstruction.config.name === 'carrito'?'active':''} item">
            Carro
        </a>
        <div show.bind="!(!auth.loggedIn || (route.config.admin && !auth.user.isAdmin))" class="right menu">
            <!-- <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div> -->
            <div class="item">
                <div class="ui transparent icon input">
                  <span>${auth.user.nombre}</span>
                </div>
            </div>
            <a if.bind="true" class="item right" href="/#" click.delegate="auth.logout()">
              <span class="right">
                Salir&nbsp;
                <div if.bind="!router.isNavigating"></div>
                <i if.bind="router.isNavigating" class="ui loader" style="display: inline;"></i>
              </span>
            </a>
        </div>
    </div>
</template>
